@font-face {
  src: url(/fonts/Roboto-Medium.ttf);
  font-family: roboto;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  background-color: #ffffff;
  font-family: roboto, sans-serif;
  color: #2e2e2e;
  font-size: 100%;
}
#nav_top {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 10vh;
}
.logo {
  width: 150px;
  padding-top: 2px;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 66vw;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  color: #2e2e2e;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
  font-size: 1rem;
  text-align: center;
}
.nav-links .active {
  background-color: #cccccc;
  padding: 0.25rem 0.75rem 0.25rem 1rem;
  border-radius: 1rem;
}
.nav-links a:hover {
  color: #888888;
}
.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: #cccccc;
  margin: 5px;
  transition: all 0.3s ease;
}

/* ---  Portfolio Navbar  ---  */
main {
  background-color: #ffffff;
  height: 90vh;
}
.navbar-cat {
  width: 5rem;
  height: 90vh;
  position: fixed;
  transition: width 600ms ease;
  overflow: auto;
  background-color: #cccccc;
  border-radius: 0 1rem 0 0;
}
.navbar-cat-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.nav-cat-item {
  width: 100%;
  padding: 8vh 1rem 0 0.5rem;
}
.nav-cat-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-left: 8px;
}
.link-text {
  color: #000000;
  display: none;
  margin-left: 1rem;
  text-decoration: none;
}
.nav-cat-link img {
  width: 2.5em;
}
.navbar-cat:hover {
  width: 14rem;
}
.navbar-cat:hover .link-text {
  display: inline;
}
/* --- Portfolio --- */
.main-content {
  padding: 0 20px 20px 20px;
  flex: 1 1 80%;
  height: 90vh;
  margin-left: 5em;
}
.portfolio {
  display: grid;
  height: 100%;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
.portfolio-item {
  background-color: #cccccc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio-item.medium {
  grid-row: span 4;
  grid-column: span 2;
}
.portfolio-item.large {
  grid-row: span 3;
  grid-column: span 3;
}
.portfolio-item.small {
  grid-row: span 3;
  grid-column: span 1;
}
.portfolio-item.tall {
  grid-row: span 3;
  grid-column: span 2;
}
.portfolio-item.wide {
  grid-row: span 2;
  grid-column: span 2;
}
.friends {
  background-image: url("../images/Portfolio/piggyBack.jpg");
  background-size: cover;
  background-position: center;
}
.jay {
  background-image: url("../images/Portfolio/jay-2.jpg");
  background-size: cover;
  background-position: center;
}
.engagement {
  background-image: url("../images/Portfolio/engagement.jpg");
  background-size: cover;
  background-position: center;
}
.senior {
  background-image: url("../images/Portfolio/Jordan/jordan_2-min.jpg");
  background-size: cover;
  background-position: top center;
}
.baby {
  background-image: url("../images/Portfolio/baby.jpg");
  background-size: cover;
  background-position: center;
}

/* ---   Media Queries   --- */
@media screen and (max-width: 1024px) {
  .main-content {
    padding: 0 10px 10px 10px;
    margin: 0;
    height: 80%;
  }
  .portfolio {
    gap: 10px;
  }
  .portfolio-item.small {
    grid-row: span 1;
    grid-column: span 1;
  }
  .portfolio-item.wide {
    grid-row: span 2;
    grid-column: span 3;
  }
  .nav-links {
    width: 50%;
  }
  .nav-links a {
    letter-spacing: 0.1rem;
    font-size: 0.8rem;
  }
  .navbar-cat {
    height: 10%;
    width: 100%;
    position: absolute;
    top: 90%;
    border-radius: 0;
  }
  .navbar-cat:hover {
    width: 100%;
  }
  .navbar-cat-nav {
    flex-direction: row;
    margin: 0;
    padding: 0;
  }
  .nav-cat-item {
    padding: 0;
  }
  .nav-cat-link {
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }
  .link-text {
    display: block;
    margin: 3px 0 0 0;
    font-size: 0.75em;
  }
  .nav-cat-link img {
    width: 1.75em;
  }
  .main-content {
    height: 80vh;
  }
  main {
    margin: 0;
    max-height: 80%;
  }
}
@media screen and (max-width: 768px) {
  html,
  body {
    overflow-x: hidden;
    position: relative;
  }
  .nav-links {
    position: absolute;
    right: 0;
    margin: 0;
    padding: 0;
    height: 90vh;
    top: 10vh;
    background-color: #ffffff;
    border-radius: 1em 0 0 0;
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    justify-content: space-evenly;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links a {
    color: black;
  }
  .burger {
    display: block;
  }
  .nav-active {
    transform: translateX(0%);
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
@media screen and (max-width: 330px) {
  .link-text {
    display: block;
    margin: 3px 0 0 0;
    font-size: 0.5em;
  }
  .nav-cat-link img {
    width: 1.25em;
  }
}
